<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-logo">
                <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                <img src="./images/logo_switch.png" alt="" class="logo">
            </div>
            <div>
                <!--Main title-->
                
                <ul class="nav-list">
                    <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                        
                    </label>
                    <h1 class="phone-title">NINTENDO <br>SWITCH</h1>
                    <!--Stablishing navigation tags-->
                    <li class="nav-links">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav-links">
                        <a href="/store">Game Store</a>
                    </li>
                    <li class="nav-links">
                        <a href="http://">Support</a>
                    </li>
                    <li class="nav-links">
                        <a href="http://">Amiibo</a>
                    </li>
                </ul>
            </div>
            <!--Non functional searcher-->
            <div class="search">
                <input type="text" placeholder="Search" class="search_input">
            </div>
        </div>
    </nav>
    {{{ body }}}
</body>
</html>