<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="fondoShop">
    <nav class="nav_shop">
        <div class="nav_shop-menu flex-row">
            <div class="nav_shop-logo">
                <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                <img src="./images/logo_switch.png" alt="" class="logo">
            </div>
            <div>
                <!--Main title-->
                
                <ul class="nav_shop-list">
                    <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                        
                    </label>
                    <h1 class="phone-title">NINTENDO <br>SWITCH</h1>
                    <!--Stablishing navigation tags-->
                    <li class="nav_shop-links">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav_shop-links">
                        <a href="/store">Game Store</a>
                    </li>
                    <li class="nav_shop-links">
                        <a href="http://">Support</a>
                    </li>
                    <li class="nav_shop-links">
                        <a href="http://">Amiibo</a>
                    </li>
                </ul>
            </div>
            <!--Non functional searcher-->
            <div class="search">
                <input type="text" placeholder="Search" class="search_input">
            </div>
        </div>
    </nav>
    <div class="bannerShop">
        <div class="bannerShop__text">
            <h1 class="h1--white">Welcome to the Game Store!</h1>
            <p>Get to know all of our switch games! As you find something you like,<br> 
            just add it to the cart! We hope you have fun.</p>
        </div>
    </div>
    {{{ body }}}
</div>
</body>
</html>