<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="fondoShop">
    <nav class="nav_shop">
        <div class="nav_shop-menu flex-row">
            <div class="nav_shop-logo">
                <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                <img src="./images/logo_switch.png" alt="" class="logo">
            </div>
            <div>
                <!--Main title-->
                
                <ul class="nav_shop-list">
                    <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                        
                    </label>
                    <h1 class="phone-title">NINTENDO <br>SWITCH</h1>
                    <!--Stablishing navigation tags-->
                    <li class="nav_shop-links">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav_shop-links">
                        <a href="/store">Game Store</a>
                    </li>
                    <li class="nav_shop-links">
                        <a href="http://">Support</a>
                    </li>
                    <li class="nav_shop-links">
                        <a href="http://">Amiibo</a>
                    </li>
                </ul>
            </div>
            <!--Non functional searcher-->
            <div class="search">
                <input type="text" placeholder="Search" class="search_input">
            </div>
        </div>
    </nav>
    {{{ body }}}
    <footer>
        <div class="logo-footer">
            <img src="./images/logo_switch.png" alt="" class="logo">
        </div>

    <!--Newslater bar suscription-->
        <div class="footer-content">
            <h2 class="footer-title">Sign up to our nintendo newsletter!</h2>
            <div class="footer-input">
                <input type="email" placeholder="e-mail">
                <button class="btn3">send</button>
            </div>
            
           <!--Footer description-->
            <div class="footer-terms">
                Nintendo Switch™, All Rights Reserved. <br>
                <br>
                Nintendo and Nintendo Switch™ are a family of brands related to the Nintendo Company. <br> 
                <br>
                All trademarks are property of their respective owner.
            </div>
        </div>
        
    </footer>
    <div class="social">
        <!--Social media hyperlinks-->
        <img src="./images/facebook.png" class="social-icons">
        <img src="./images/youtube.png" class="social-icons">
        <img src="./images/instagram.png" class="social-icons">
    </div>
</div>
</body>
</html>