<a href="/store" class="back"> Regresar a la tienda</a>
<div class="productContainer">
    <div class="productContainer_text">
        <img src="./images/juego1.png" alt="">
        <div class="productContainer_content">
            <h2>dads</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolorem voluptatibus voluptatum, numquam quisquam maiores inventore sint ad esse quibusdam quae dolor qui ex quos? Corrupti a magni atque unde?</p>
        </div>
        
    </div>
    <img src="./images/fondo_product.png" alt="">
</div>
