<div class="bannerShop">
        <div class="bannerShop__text">
            <h1 class="h1--white">Welcome to the Game Store!</h1>
            <p>Get to know all of our switch games! As you find something you like,<br> 
            just add it to the cart! We hope you have fun.</p>
        </div>
</div>
<div class="product_section">
    <div class="store_menu">
        <ul class="filter_menu">
            <li>Price
                <ul>
                <li> <a href="/store/?price_lt=59" class="filters"> Best deals</li></a>
                <li> <a href="/store/?price_gt=39" class="filters"> New release</li></a>
                <li> <a href="/store/?price_gt=38&price_lt=70" class="filters"> Regular pricing</li></a>
                </ul>
            </li>
            
            
            <li>Rating
                <ul>
                    <li><a href="http://" class="filters">Best reviewed</li></a>
                    <li><a href="http://" class="filters">Average rating</li></a>
                </ul>
            </li>

            <li>Player mode
                <ul>
                    <li><a href="/store/?search=single player" class="filters"></li>Singleplayer</a>
                    <li><a href="/store/?search=multiplayer" class="filters"></li>Multiplayer</a>
                </ul>
            </li>
        </ul>
    </div>
<main class="productlist">
    {{#each list}}
    <div class="thumb">
        <a href="/product/{{title}}/{{id}}" class="thumb__link">
        <img class="thumb__img" src="{{img}}" width="247px" height="340px">
        <h2 class="thumb__price">{{price}}USD</h2>
        </a>
        <button class="btn4">add to cart<i class="fas fa-shopping-cart"></i></button>
    </div>
    {{/each}}
</main>
</div>
