<div class="bannerShop">
        <div class="bannerShop__text">
            <h1 class="h1--white">Welcome to the Game Store!</h1>
            <p>Get to know all of our switch games! As you find something you like,<br> 
            just add it to the cart! We hope you have fun.</p>
        </div>
</div>
<main class="productlist">
    {{#each products}}
    <div class="thumb">
        <img class="thumb__img" src="{{img}}" >
        <h2 class="thum_price">{{price}}</h2>
    </div>
    {{/each}}
</main>